{% if site.html_pages.size > 0 %}
<section>
  <h1>Contents</h1>
  <ul id="pages">

  {% capture page_urls %}
    {{ site.html_pages | sort:'url' | map:'url' | join:' ' }}
  {% endcapture %}

  {% capture num_urls %}
    {{ page_urls | number_of_words }}
  {% endcapture %}


  {% for index in (1..num_urls) %}
    {% capture page_url %}{{ page_urls | truncatewords:index | remove:'...' | split:' '  | last }}{% endcapture %}

    {% for content_page in site.html_pages %}
      {% if content_page.url == page_url %}
        {% if content_page.layout == 'page' %}
          {% if content_page.status != 'unlisted' %}
            {% if content_page.title %}
              <li class="post">
                <a href="#{{ content_page.title | replace: ' ', '-' }}">{{ content_page.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
</section>
{% endif %}
