// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

th, td {
  padding: 0 0.333em;
}

.post-meta {
  font-style: italic;
}

// Links.  I tried editing the values in _themes.scss without success, so overriding them here : (

$custom-link-color: #b555a4 !default;
$custom-link-color-hover: adjust-color($custom-link-color, $lightness: 10, $saturation: 25) !default;

a, a:visited, a:active {
  color: $custom-link-color !important;
  text-decoration:none;
}

a:hover {
  color: $custom-link-color-hover !important;
  text-decoration:none;
}


$custom-footer-link-color: adjust-color($custom-link-color, $lightness: 5, $saturation: -11);
$custom-footer-link-color-hover: adjust-color($custom-footer-link-color, $lightness: 10, $saturation: 25) !default;

footer a, footer a:visited, footer a:active {
  color: $custom-footer-link-color !important;
}

footer a:hover {
  color: $custom-footer-link-color-hover !important;
}

// Other stuff


body > header {
  cursor: pointer;
}

header > hgroup > h1 {
  color: white;
}

.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%
}

.apps > .app {
  float: left;
  margin: 0 1em;
  text-align: center;
}

.apps > .app > a,
.apps > .app > a:visited,
.apps > .app > a:hover,
.apps > .app > a:active,
 {
  color: #333 !important;
  text-decoration:none;
}

.origin_message {
  padding: 0.5em;
  margin-bottom: 1.5em;
  background-color: #eee;
  border: 1px solid #ccc;
  font-weight: 300;
  color: #666;
  font-style: italic;
}